@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

body {
  margin: 0;
  font-family: "sen";
  color: #ffffff;
}

.App {
  min-height: 100vh;
  background: #15151D;
  text-align: center;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 917px;
  margin: 0 auto;
  /* border: solid 1px red; */
}
.navbar img {
  width: 36px;
  height: 36px;
}
.navbar h2 {
  margin-left: 2vh;
}
.navbar .user {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navbar .user img {
  width: 30px;
  height: 40px;
  cursor: pointer;
}
.navbar a {
  font-family: 'Sen', sans-serif;
  font-size: 20px;
  line-height: 29px;  
  color: white;
  margin-right: 16px;
  text-decoration: none;
}
.greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 917px;
  margin: 0 auto;
  margin-top: 48px;

  font-family: Public Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;

  color: #FFFFFF;
  /* border: 1px solid yellow; */
}
form {
  display: grid;
  grid-template-columns: 15fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  /* grid-column-gap: 10px;
  grid-row-gap: 10px; */
  margin: 0 auto;
  margin-top: 80px;
  max-width: 750px;
  /* border: 1px solid fuchsia; */
}

form label {
  grid-area: 1 / 1 / 2 / 2;
  margin-left: 10px;
  text-align: left;
  font-size: 30px;
  line-height: 36px;
  /* border: 1px solid red; */
}
form input {
  grid-area: 2 / 1 / 3 / 2;
  width: 700px;
  height: 44px;
  padding: 0 20px;
  background: #1d1d28;
  color: #ffffff;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 1px;
  box-sizing: border-box;
  border-style: solid;
  border-color: transparent;
  border-radius: 15px;
}
form input:focus {
  border-style: inset;
  outline: none;
  border-width: 3px;
  border-color:  #f9bf138e;
}
.add-button {
  grid-area: 2 / 2 / 3 / 3;
  width: 10px;
  height: 10px;
  margin-top: 10px;
  margin-left: 10px;
  background: transparent;
  border: transparent;
  /* border: 1px solid red; */
}
form button img {
  grid-area: 2 / 2 / 3 / 3;
  width: 40px;
  height: 40px;
  margin-top: -8px;
  margin-left: -10px;
  cursor: pointer;
  /* border: 1px solid red; */
}
.decoration {
  grid-area: 2 / 1 / 3 / 2 ;
  text-align: left;
  max-width: 3px;
  margin-top: -2px;
  font-size: 36px;
  color: #F9BF13;
}
.todo-list-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  padding-left: 10px;
  margin-bottom: -3px;
  max-width: 750px;
  text-align: left;
  font-size: 30px;
  line-height: 36px;
  font-weight: lighter;
}
.todo-list {
  margin: 10px auto;
  padding: 0;
}
.todo-item-wrapper {
  height: 42px;
  background: #1d1d28;
  color: #ffffff;
  max-width: 750px;
  margin: 0 auto;
  box-sizing: border-box;
  border-style: solid;
  border-color: transparent;
  border-radius: 15px;
  margin-top: 9px;
  /* border: 1px solid yellow; */
}
.todo-preview {
  display: grid;
  grid-template-columns: 12fr repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 4px;
  grid-row-gap: 0px;
  text-align: left;
  margin-left: 20px;
  
  font-size: 18px;
  font-style: inherit;
  font-weight: lighter;
  line-height: 36px;
  /* border: 1px solid red; */
}
.li-text {
  margin-top: -32px;
}
.todo-preview button {
  align-items: center; /* text into button centered*/
  cursor: pointer;
  width: 10px;
  height: 10px;
  margin-top: 10px;
  margin-left: 10px;
  background: transparent;
  border: transparent;
  /* border: 1px solid yellow; */
}
.decoration-2 {
  grid-area: 1 / 1 / 2 / 2 ;
  text-align: left;
  margin-left: -22px;
  max-width: 3px;
  margin-top: -3px;
  font-size: 33px;
  font-style: bold;
  color: #617FDE;
}
.edit-button {
  grid-area: 1 / 2 / 2 / 3;
}
.delete-button {
  grid-area: 1 / 3 / 2 / 4;
}
.todo-preview button img {
  width: 28px;
  height: 28px;
  margin-top: -8px;
  margin-left: -10px;
  cursor: pointer;
}
/* .edit-button img {
  grid-area: 1 / 2 / 2 / 3;
}
.delete-button img {
  grid-area: 1 / 3 / 2 / 4; 
} */
.edit-form {
  grid-template-columns: 14fr repeat(2, 1fr);
}
.edit-form input {
  width: 650px;
}
.edit-form button {
  align-items: center; /* text into button centered*/
  cursor: pointer;
  width: 10px;
  height: 10px;
  margin-top: 12px;
  background: transparent;
  border: transparent;
}
.update {
  grid-area: 2 / 2 / 3 / 3;
  margin-left: 18px;
}
.cancel {
  grid-area: 2 / 3 / 3 / 4;
  margin-left: 18px;
}
.update img {
  margin-top: -10px;
  margin-left: -21px;

}
.cancel img {
  margin-top: -10px;
  margin-left: -18px;
}
footer {
  height: 200px;
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  /* border: 1px solid yellow; */
}
footer p {
  margin-bottom: 30px;
  margin-right: 3px;
}
footer a {
  margin-bottom: 30px;
  margin-left: 3px;
  color: rgba(255, 255, 255, 0.651);
}